*.pyc
.vscode
settings.py
/__pycache__
.VSCodeCounter/2021-11-23_16-21-00/details.md
.VSCodeCounter/2021-11-23_16-21-00/results.csv
.VSCodeCounter/2021-11-23_16-21-00/results.md
.VSCodeCounter/2021-11-23_16-21-00/results.txt
